<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to your camera to take profile photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to select profile photos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to your photo library to save profile photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to your microphone when taking videos or photos.</string>
</dict>
</plist>
